/* Apply a consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin from body, heading, and paragraph elements */
h1,
h2,
p,
body {
  margin: 0;
  padding: 0;
}
